*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
body{
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-container, .attribution{
    width: 100vw;
}

.card-container{
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.qr-code-image{
    width: 100%;
    border-radius: 10px;
}

.text{
    padding: 16px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.line-one, .line-two, .attribution{
    font-family: "Outfit";
}

.line-one{
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 16px;
    color: #1F314F;
}

.line-two{
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778D;
}

.attribution{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}